* {
    margin:0;
    padding: 0;
}

body {
    width: 1440px;
    
    margin: auto;
}
header {
    /*height: 64px;*/
    font-size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /*background-color: pink;*/
}
.header-container {
    margin: auto;
    width: 1276px;
    height: 64px;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    /*justify-content: center;
    
    padding: 12px 0px;
    gap: 12px;
    background-color: greenyellow;
    background-color: lime;*/
}
.header-container a {
    text-decoration: none;
    color: #181C29;    
}
.logo {
    width: 101px;
    height: 24px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    /*background-color: grey;*/
}
.logo img {
    width: 24px;
    height:24p;
    margin-right: 7px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;

}
nav a {
    height: 16px;
    padding: 12px 20px;    
}
nav a:hover {
    color: #FF4646;
    background-color: rgba(255, 70, 70, 0.1);
    border-radius: 12px;
}

/* Home page */

